<%- include('./partials/head') %>

    <body>
        <%- include('./partials/navbar') %>

        <div class="container mt-5">

            <div class="card shadow mb-3">
                <div class="card-header text-center">
                    <h3>Cadastrar nova notícia</h3>
                </div>
                <div class="card-body">
                    <form >
                        <div class="mb-3">
                          <label for="titleNotice" class="form-label">Titulo da notícia</label>
                          <input type="text" class="form-control" id="titleNotice">
                        </div>
                        <div class="mb-3">
                            <label for="categorieNotice" class="form-label">Categoria</label>
                            <select id="categorieNotice" class="form-select">
                              <option>ENEM</option>
                              <option>Governo</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="place" class="form-label">Local do ocorrido</label>
                            <input type="text" class="form-control" id="place">
                            </div>
                            
                          <div class="mb-3">
                            <label for="dateoccur" class="form-label">Data do ocorrido</label>
                            <input type="date"  class="form-control" id="dateoccur">
                          </div>
                        
                          <div class="mb-3">
                            <label for="notice" class="form-label">Resumo da notícia</label>
                            <textarea type="text" rows="10" class="form-control" id="notice"></textarea>
                          </div>
                        

                       
                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                      </form>
                </div>
            </div>

          
        </div>

    </body>