<%- include('./partials/head') %>

    <body>
        <%- include('./partials/navbar') %>
            <div class="container mt-5">

                <div class="card shadow mb-3">
                    <div class="card-header text-center">
                        <h3>Minhas Notícias</h3>
                    </div>
                    <div class="card-body">
                        <table class="table text-center">
                            <thead>
                              <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Titulo</th>
                                <th scope="col">Data</th>
                                <th scope="col">Usuário</th>
                                <th scope="col">Ações</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>Nova variante da covid-19 é descoberta</td>
                                <td>09/02/2022</td>
                                <td>Luis Felipi</td>
                                <td>
                                    <a href="#" class="btn btn-secondary">Excluir</a>
                                    <a href="#" class="btn btn-primary">Alterar</a>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">2</th>
                                <td>Nova variante da covid-19 é descoberta</td>
                                <td>09/02/2022</td>
                                <td>Luis Felipi</td>
                                <td>
                                    <a href="#" class="btn btn-secondary">Excluir</a>
                                    <a href="#" class="btn btn-primary">Alterar</a>
                                </td>
                              </tr>
                              <tr>
                                <th scope="row">3</th>
                                <td>Nova variante da covid-19 é descoberta</td>
                                <td>09/02/2022</td>
                                <td>Luis Felipi</td>
                                <td>
                                    <a href="#" class="btn btn-secondary">Excluir</a>
                                    <a href="#" class="btn btn-primary">Alterar</a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
              
            </div> 
            
            <%- include('./partials/script-import') %>
    </body>

    </html>